* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.jumbotron {
  background-color: #598381;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px; }

.main {
  padding: 15px 0; }
  .main .pasos {
    text-align: center; }
  .main .card-articulo {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center; }
    .main .card-articulo img {
      max-width: 200px;
      width: 100%; }
    .main .card-articulo h5 {
      font-weight: bold; }
    .main .card-articulo .btn-compra {
      width: 100%;
      border-radius: 0px; }
      .main .card-articulo .btn-compra .compra-icon {
        padding-right: 10px; }

footer {
  padding: 15px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px; }
  footer .redes-sociales {
    text-align: left; }
    footer .redes-sociales a {
      color: #4d4d4d; }
  footer .direccion {
    text-align: center; }
    footer .direccion .footer-address-icon {
      padding-right: 10px; }
  footer .navegacion {
    text-align: right; }
    footer .navegacion a {
      color: #4d4d4d; }
