@steelTeal: #598381;
@grisLinks: #4d4d4d;

@yellow: #fffa19;
@red: #d91818;
@green: #334731;

.margenes (@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  .jumbotron {
    background-color: @steelTeal;
    color: #fff;
    .margenes(50px, 0px); }
  
  .main {
    padding: 15px 0; }
    .main .pasos {
      text-align: center; }
    .main .card-articulo {
      flex: 1 200px;
      .margenes(10px, 0px);
      text-align: center; }
      .main .card-articulo img {
        max-width: 200px;
        width: 100%; }
      .main .card-articulo h5 {
        font-weight: bold; }
      .main .card-articulo .btn-compra {
        width: 100%;
        border-radius: 0px; }
        .main .card-articulo .btn-compra .compra-icon {
          padding-right: 10px; }
  
  footer {
    padding: 15px 10px 0 10px;
    .margenes(10px, 0px); }
    footer .redes-sociales {
      text-align: left; }
      footer .redes-sociales a {
        color: @grisLinks; }
    footer .direccion {
      text-align: center; }
      footer .direccion .footer-address-icon {
        padding-right: 10px; }
    footer .navegacion {
      text-align: right; }
      footer .navegacion a {
        color: @grisLinks; }
  