$steelTeal: #598381;
$grisLinks: #4d4d4d;

$yellow: #fffa20;
$red: #d91818;
$green: #334731;


@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: $steelTeal;
    color: #fff;
    @include margenes(50px, 0px);
}

.main {
    padding: 15px 0;
    .pasos {
        text-align: center;
    }
    .card-articulo {
        flex: 1 200px;
        @include margenes(10px, 0px);
        text-align: center;
        img {
            max-width: 200px;
            width: 100%;
        }
        h5 {
            font-weight: bold;
        }
        .btn-compra {
            width: 100%;
            border-radius: 0px;
            .compra-icon {
                padding-right: 10px;
            }
        }
    }
}

footer {
    padding: 15px 10px 0 10px;
    @include margenes(10px, 0px);
    .redes-sociales {
        text-align: left;
        a {
            color: $grisLinks;
        }
    }
    .direccion {
        text-align: center;
        .footer-address-icon {
            padding-right: 10px;
        }
    }
    .navegacion {
        text-align: right;
        a {
            color: $grisLinks;
        }
    }
}