* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: #598381;
    color: #fff;
    margin-top: 50px;
}

.main {
    padding: 15px 0;
}

.main .pasos {
    text-align: center;
}

.main .land {
    width: 100%;
}



.card-articulo {
    flex: 1 200px;
    margin-top: 10px;
    text-align: center;
}

.card-articulo h5 {
    font-weight: bold;
}

.card-articulo img {
    max-width: 200px;
    width: 100%;
}

.btn-compra {
    width: 100%;
    border-radius: 0px;
}

.compra-icon {
    padding-right: 10px;
}

footer {
    padding: 15px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

footer .redes-sociales {
    text-align: left;
}

footer .redes-sociales a {
    color: #4d4d4d;
}

footer .direccion {
    text-align: center;
}

footer .navegacion {
    text-align: right;
}

footer .navegacion a {
    color: #4d4d4d;
}

.footer-address-icon {
    padding-right: 10px;
}
